
.header-logo {
    height: 150px;
    width: 150px;
    padding: 15px;
}

.welcome {
   color: rgb(0, 0, 0);
   background-color: white;
   border-radius: 10px;
}

.header-description {
    padding-top: 20px;
    width: 700px;
    font-size: 28px;
    text-align: center;
    background-color: white;
    
    padding: 10px;
    border-radius: 15px;
}

.header-img {
    width: 50%;
    height: 50%;
    border-radius: 20px;
}


